@import "tailwindcss";

@layer utilities {
  .glass-header {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid #f3f4f6;
    position: sticky;
    top: 0;
    z-index: 50;
  }
  
  /* બ્રેકિંગ ન્યૂઝ માટેનું એનિમેશન */
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}